{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>iD</th>
            <th>Summary</th>
            <th>Description</th>
            <th>Start</th>
            <th>End</th>
            <th>Location 5</th>
        </tr>
        {% for row in rows %}
        <tr>
            {% for thing in row %}
                <td>{{ thing }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
