{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="center">
        <h1>Events history</h1>
        <table id="fancy_table">
            <tr>
                <th>Event id</th>
                <th>Summary</th>
                <th>Description</th>
                <th>Starting date</th>
                <th>Ending date</th>
                <th>Location</th>
            </tr>
            {% for row in rows %}
            <tr>
                {% for thing in row %}
                    <td>{{ thing }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
