{% extends "layout.html" %}

{% block title %}
    Event-creator
{% endblock %}

{% block main %}
    {% if session["user_id"] %}
        <!-- Create a form for the event -->
        Event form
        <form action="\" method="post">
            <lable for="summary">Summary</lable>
            <input type="text" autocomplete="off" autofocus="off" id="summary" name="summary" placeholder="Summary">
            <lable for="dtstart">Start date</lable>
            <input type="date" id="dtstart" name="dtstart">
            <lable for="dtend">Start date</lable>
            <input type="date" id="dtend" name="dtend">
            <lable for="description">Description</lable>
            <input type="text" autocomplete="off" autofocus="off" id="description" name="description" placeholder="Description">
            <input type="submit" value="Submit">
        </form>
    {% else %}
        <!-- Create a starting page -->
        Starting page!!!
        <form action="\" method="post">
            <lable for="summary">Summary</lable>
            <input type="text" autocomplete="off" autofocus="off" id="summary" name="summary" placeholder="Summary">
            <lable for="dtstart">Start date</lable>
            <input type="datetime-local" id="dtstart" name="dtstart">
            <lable for="dtend">End date</lable>
            <input type="datetime-local" id="dtend" name="dtend">
            <lable for="description">Description</lable>
            <input type="text" autocomplete="off" autofocus="off" id="description" name="description" placeholder="Description">
            <input type="submit" value="Submit">
        </form>
    {% endif %}
{% endblock %}

