<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeB3fh7S1cqY9oerI1m1-5-gLTyc6fLY&libraries=places&callback=initAutocomplete" async defer></script>
    <title>Event-creator {% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Navigation for loged in users -->
    {% if session["user_id"] %}
      <nav class="topnav">
        <a class="active" href="/">Create event</a>
        <a href="/history">History</a>
        <a href="/setting">Settings</a>
        <a href="/logout">Logout</a>
      </nav>
    {% else %}
    <!-- Navigation for NOT loged in users -->
      <nav class="topnav">
        <a class="active" href="/login">Log In</a>
        <a href="/register">Register</a>
      </nav>
    {% endif %}
    <main>
        <!-- Main part goes HERE -->
        {% block main %}{% endblock %}
    </main>
    <footer>
      <p>Copyright © 2023</p>
    </footer>
  </body>
</html>
