{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="center">
        <h1>Log In</h1>
    <!-- Form for login -->
        <form action="\login" method="post">
            <lable for="username">Username</lable><br>
            <input type="text" autocomplete="off" id="username" name="username"><br>
            <lable for="password">Password</lable><br>
            <input type="password" autocomplete="off" id="password" name="password"><br>
            <input type="submit" value="Log In">
        </form>
        {% if error %}
            <p class="errors"><strong>Error:</strong> {{ error }}</p>
        {% endif %}  
    </div>
    <!-- Error output -->

{% endblock %}