{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="center">
        <h1>Register</h1>
        <!-- Form for registration -->
        <form action="\register" method="post">
            <label for="username">Username</label><br>
            <input type="text" autocomplete="off" id="username" name="username"><br>
            <lable for="password">Password</lable><br>
            <input type="password" autocomplete="off" id="password" name="password"><br>
            <lable for="confirm_password">Confirm Password</lable><br>
            <input type="password" autocomplete="off" id="confirm_password" name="confirm_password"><br>
            <input type="submit" value="Register">
        </form>
        <!-- Error output -->
        {% if error %}
            <p class=errors><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>
{% endblock %}